<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>china</string>
	<key>CFBundleDisplayName</key>
	<string>ZoomT</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh_CN</string>
		<string>zh_TW</string>
		<string>en</string>
		<string>vi</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>webchat</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>botgate</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
		<string>weixinULAPI</string>
		<string>iosamap</string>
		<string>baidumap</string>
		<string>qqmap</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>"ZoomT" cần sự đồng ý của bạn để truy cập camera, dùng để chụp ảnh chat và quét mã QR thêm bạn</string>
	<key>NSContactsUsageDescription</key>
	<string>"ZoomT" cần sự đồng ý của bạn để truy cập danh bạ, dùng để thêm bạn bè mới để chat</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>"ZoomT" cần sự đồng ý của bạn để truy cập vị trí, dùng để định vị khi chat</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>"ZoomT" cần sự đồng ý của bạn để truy cập vị trí, dùng để định vị khi chat</string>
	<key>NSLocationUsageDescriptionApp</key>
	<string>"ZoomT" cần sự đồng ý của bạn để truy cập vị trí, dùng để định vị khi chat</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>"ZoomT" cần sự đồng ý của bạn để truy cập vị trí, dùng để định vị khi chat</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>"ZoomT" muốn truy cập microphone của bạn, dùng để chat và video</string>
	<key>NSMicrophoneUsageDescriptionApp</key>
	<string>"ZoomT" cần sự đồng ý của bạn để truy cập microphone, dùng để chat và video</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>"ZoomT" cần sự đồng ý của bạn để truy cập thư viện ảnh, dùng để gửi ảnh trong chat</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>"ZoomT" cần sự đồng ý của bạn để truy cập thư viện ảnh, dùng để gửi ảnh trong chat</string>
	<key>Privacy - Photo Library Additions Usage Description
        
        
        Privacy - Photo Library Additions Usage Description
        
    </key>
	<string>"ZoomT" cần sự đồng ý của bạn để truy cập thư viện ảnh, dùng để gửi ảnh trong chat</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<false/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
